<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">

    <title>Proejeto AV1</title>
</head>
<body>
    <h1 id ="Title">Projeto Banco De dados AV1</h1>
  <div>
    {% if form %}
    <form action = "{% url 'index' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
   

  <div class="container">
     <label for="{{form.file.id_for_label}}">Escolha um arquivo:</label>
    {{form.file}}

  {% if params %}
   <label for="{{form.tamanho_pagina.id_for_label}}">Tamanho da página</label>
    {{form.tamanho_pagina}}
        
       <label for="{{form.total_buckets.id_for_label}}">Núm. de Buckets (NB)</label>
      {{form.total_buckets}}
       
      <label for="{{form.tamanho_bucket.id_for_label}}">Tamanho dos buckets (FR)</label>

        {{form.tamanho_bucket}}
      
        <button type="submit">Construir Banco de Dados</button>
         {%if errorMessage %} <p> {{errorMessage}} </p> {% endif %}
       {% endif %}
       </div>
    </form>
{% endif %}

 
</form>
{% if bancoDeDados %}
 <div class="container-result">
        <div class = "container">
    <h3>Número de overflows: </h3>
        <h3 id="overflows_count">{{ bancoDeDados.response.overflows }}</h3>
    </div>
    
    <div class = "container">
        <h3>Número de colisões: </h3>
        <h3 id="collisions_count">{{ bancoDeDados.response.colisoes }}</h3>
    </div>
    </div>
  <div class="details">
 <div class=".container-search">
  <form action="{% url 'search' %}" method="get">
  <label for="key_search">Pesquise por uma registro especifico</label><br>
      <input type="text" id="key_search" name="key_search"
        > 
        <button type="submit"> Pesquisar</button>
</form>
      {% if palavra %}
        {% if palavra.errorSearch %}
        <p> {{ palavra.errorSearch }} </p>
        {% else %}
        <p> Registro Encontrado: '{{palavra.result.value}}'. Página: {{palavra.result.key}}, acesso ao disco: 1 </p>
      
        {% endif %}
         {% endif %}

<form action="{% url 'show' %}" method="get">
  <label for="table_scan">Quantos registros mostrar?</label><br>
      <input type="number" id="table_scan" name="table_scan"
       value="10" > 
        <button type="submit"> Pesquisar</button>
  
</form>
{% if items %}
        <p>acesso ao disco: {{items.acessoDisco}}</p>
        {% endif %}
</div>
  

{% if items %}
 
<div class="container-table">
 
    <table> 
      <thead><tr>
      <th>Valor</th>
      <th>Índice da página</th>
      
    </tr>
    </thead>
<tbody style="overflow: scroll;">
{% for item in items.list %}


<tr>
  <td>{{item.value}}</td> 
  <td> {{item.key}}</td>
      
</tr>

{% endfor %}
</tbody>

    <table>

  

</div>
{% endif %}
</div>


    {% endif %}
   
    
</body>

</html>